.loader-container {
  position: relative;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 50%;
  align-items: center;
  margin-top: 10%;
  border: none;
  background: none;
  color: $black;
}
