.share-learning-container {
  width: 700px;

  .css-13cymwt-control {
    background-color: $base-black !important;
    color: $white-text;
    border-radius: 0;
    border: 1px solid $grey3;
  }

  .css-1u9des2-indicatorSeparator {
    display: none;
  }
}

.share-learning-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--neutrals-accents-gray-3, $grey3);
  position: relative;
  padding: 0 0 10px;
}
.share-learning-main span {
  color: var(--primary-colors-base-green, $white-text);
  font-family: unilever-shilling-medium;
  font-size: $font-size-20;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: $line-height-1-6;
  padding: $space-10 0;
  text-transform: capitalize;
}
.share-learning-main img {
  position: absolute;
  right: 0;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
.share-learning-title {
  position: relative;
  top: 14px;
  display: flex;
  padding: 5px $space-10;
  resize: vertical;
  align-items: center;
  border: 1px solid var(--neutrals-accents-gray-3, $grey3);
}
.share-learning-title input {
  width: 100%;
  border: none;
  outline: none;
  background-color: $grey1;
  color: var(--unilever-brand-colors-white, $white-text);
  font-family: unilever-shilling-regular;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-1-6;
}

.share-learning-img {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  cursor: pointer;
  margin: 30px 0 5px;

  li {
    border-right: 1px solid $grey3;
    padding-right: 5px;
    margin-right: 5px;
    color: $grey3;

    &.share-learning-device {
      color: var(--primary-colors-base-green, $base-green);
      font-family: unilever-shilling-medium;
      font-size: $base-font-size;
      font-style: normal;
      font-weight: $font-weight-bold;
      line-height: $line-height-1-6;

      &:hover {
        color: var(--primary-colors-base-green, $base-green);
      }
    }

    &:last-child {
      border-right: none;
    }
  }
}

.share-learning-url {
  color: var(--neutrals-accents-gray-3, $grey3);
  font-family: unilever-shilling-bold;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: $line-height-1-6;
  border-left: 1px solid $grey3;
  &:hover {
    color: var(--primary-colors-base-green, $base-green);
  }
}

.share-img-container {
  display: flex;
  width: 100%;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border: 1px solid var(--neutrals-accents-gray-3, $grey3);

  label {
    text-align: center;
  }
}

.share-img-container input {
  width: 100%;
  text-align: center;
  color: var(--primary-colors-white-text, $white-text);
  border: none;
  outline: none;
  background-color: $grey1;
  font-family: unilever-shilling-regular;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-1-6;
  margin-top: $space-10;
}

.share-learning-desn {
  display: flex;
  width: 100%;
  height: 81px;
  align-items: flex-start;
  border: 1px solid var(--neutrals-accents-gray-3, $grey3);
  margin-top: 20px;
}

.share-learning-desn input {
  border: none;
  outline: none;
  background-color: $grey1;
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  font-family: unilever-shilling-regular;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-1-6;
  color: var(--unilever-brand-colors-white, $white-text);
  padding: $space-10;
}

.line-camera-container {
  display: flex;
  @include flex-center;
  align-self: stretch;
}

.camera {
  display: flex;
  height: 31px;
  padding: 4px 12px;
  align-items: flex-start;
  color: white;
  border: none;
  border-left: 1px solid white;
}

.share-learning-option {
  display: flex;
  justify-content: space-between;
}

.share-learning-option > div {
  flex: 0 0 48%;
  margin: $space-20 0 0;
}
.share-learning {
  position: relative;
  z-index: 9999;
}
.share-learning select {
  width: 250px;
  text-overflow: ellipsis;
  font-family: unilever-shilling-regular;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-1-6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--unilever-brand-colors-white, $white-text);
  border: none;
}

.share-learning option {
  width: 30px;
  height: 24px;
  border: none;
  outline: none;
  background-color: $grey1;
}

.share-learning-btn button {
  width: 100%;
  height: 40px;
  text-overflow: ellipsis;
  font-family: unilever-shilling-bold;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: $line-height-1-6;
  text-transform: uppercase;
  border: none;
  color: $white-text;
  background-color: $base-green;
  cursor: pointer;

  &:hover {
    background-color: $forest-green;
  }
}

::placeholder {
  color: $white-text;
  opacity: 1;
}

#fileUpload {
  display: none;
}
label {
  display: contents;
  cursor: pointer;
}
.uploaded-files-list {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: $space-10;
}
.image-list {
  display: flex;
  position: relative;
  width: 84px;
  height: 84px;
}
.image-list > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.remove-btn {
  background: none;
  border: none;
  right: 0;
  top: -10px;
  position: absolute;
  cursor: pointer;
}
.main-form {
  width: 100%;
}

.category-div {
  display: flex;
  justify-content: space-between;
}
.css-wsp0cs-MultiValueGeneric {
  color: $white-text;
}
.error-text {
  color: $status-red;
  margin-top: 10px;
}
