.diaspora {
  color: $white-text;
  font-family: unilever-shilling-regular;
  font-size: $space-20;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: 120%;
}

.population-segregation-heading {
  color: var(--primary-colors-white-text, $white-text);
  font-family: unilever-shilling-bold;
  font-size: $space-20;
  font-style: normal;
  font-weight: $font-weight-bold;
}

.population-seg-desc {
  color: var(--primary-colors-white-text, $white-text);
  font-family: unilever-shilling-regular;
  font-size: $base-font-size;
  font-style: normal;
  line-height: $line-height-1-6;
  max-width: 80%;
}
.diaspora-wrapper {
  display: flex;
}

.show-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex: 0 0 50%;
  margin-top: $space-50;

  h3 {
    border-bottom: 1px solid $grey3;
    padding-bottom: $space-10;
    margin-bottom: $space-20;
  }
}
.left-column {
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 50%;
}
.left-column li {
  color: var(--primary-colors-white-text, $white-text);
  font-family: unilever-shilling-regular;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: normal;
  margin-bottom: $space-10;
}
.right-column {
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 50%;
}
.right-column li {
  color: var(--primary-colors-white-text, $white-text);
  font-family: unilever-shilling-regular;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: normal;
  margin-bottom: $space-10;
}
.show-graph {
  flex: 0 0 30%;
}
