.mt-10 {
  margin-top: $space-10;
}

.mt-20 {
  margin-top: $space-20;
}

.mt-30 {
  margin-top: $space-30;
}

.mt-40 {
  margin-top: $space-40;
}

.mt-50 {
  margin-top: $space-50;
}

.mt-60 {
  margin-top: $space-60;
}

.mb-10 {
  margin-bottom: $space-10;
}

.mb-20 {
  margin-bottom: $space-20;
}

.mb-30 {
  margin-bottom: $space-30;
}

.mb-40 {
  margin-bottom: $space-40;
}

.mb-50 {
  margin-bottom: $space-50;
}

.mb-60 {
  margin-bottom: $space-60;
}

.ml-10 {
  margin-left: $space-10;
}

.ml-20 {
  margin-left: $space-20;
}

.ml-30 {
  margin-left: $space-30;
}

.ml-40 {
  margin-left: $space-40;
}

.ml-50 {
  margin-left: $space-50;
}

.ml-60 {
  margin-left: $space-60;
}

.pt-10 {
  padding-top: $space-10;
}

.pt-20 {
  padding-top: $space-20;
}

.pt-30 {
  padding-top: $space-30;
}

.pt-40 {
  padding-top: $space-40;
}

.pt-50 {
  padding-top: $space-50;
}

.pt-60 {
  padding-top: $space-60;
}

.pb-10 {
  padding-bottom: $space-10;
}

.pb-20 {
  padding-bottom: $space-20;
}

.pb-30 {
  padding-bottom: $space-30;
}

.pb-40 {
  padding-bottom: $space-40;
}

.pb-50 {
  padding-bottom: $space-50;
}

.pb-60 {
  padding-bottom: $space-60;
}

.w-100 {
  width: 100%;
}