// Font variables
$base-font-size: 1em;
$font-size-38: 2.5em;
$font-size-36: 2em;
$font-size-32: 1.8em;
$font-size-24: 1.6em;
$font-size-22: 1.375em;
$font-size-20: 1.3em;
$font-size-18: 1.1em;
$font-size-16: 1em;
$font-size-14: 0.875em;
$font-size-12: 0.85em;
$font-size-10: 0.625em;
$font-size-8: 0.5em;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semiBold: 500;
$font-weight-bold: 600;

$line-height-1: 1;
$line-height-1-2: 1.2;
$line-height-1-4: 1.4;
$line-height-1-5: 1.5;
$line-height-1-6: 1.6;
$line-height-1-9: 1.9;

// Spacing variabls
$space-10: 0.625em;
$space-20: 1.3em;
$space-30: 1.875em;
$space-40: 2.5em;
$space-50: 3em;
$space-60: 3.75em;

// Color Palette

//Unilever Brand Colors ( Limited Usage)
$brand-primary: #1f36c7;
$brand-secondary: #ffffff;

// Primary Color
$base-green: #00a32e;
$forest-green: #008651;
$dark-green: #006717;
$white-text: #fdfffd;
$black: #000000;

// Secondary Colors
$base-black: #1c1c1c;
$grey1: #18181b;
$grey2: #3f3f46;

// Neutrals and Accents
$grey3: #71717a;
$grey4: #d4d4d8;
$white-text2: #f4f4f5;

// Status Colors
$status-green: #06ca3d;
$status-red: #eb0000;
$status-yellow: #ffc000;

// Avatar Colors
$denim-blue: #005eef;
$bottle-green: #00a889;
$royal-purple: #7705bc;
$fuchsia-pink: #e60067;
$candy-pink: #f752c7;
$sunset-red: #ff544f;
$coral-red: #ff7c7d;
$honey-yellow: #ffa91f;
