.fav-container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .fav-icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    background: none;
  }
}
